@page
@model RazorBoatApp2026InClass.Pages.Shared.Members.DeleteMemberModel
@{
	ViewData["Title"] = "Delete member";
}

<h1>Delete member</h1>
<form method="post">
	<label>Member phone number</label>: @Model.DeleteMember.PhoneNumber<br />
	<label>Member first name</label>: @Model.DeleteMember.FirstName<br />
	<label>Member surname</label>: @Model.DeleteMember.SurName<br />
	<input type="submit" asp-page-handler="Delete" asp-route-phoneNumber="@Model.DeleteMember.PhoneNumber" class="btn btn-danger" value="Delete member" />
	<input type="submit" class="btn btn-warning" value="Cancel" />
</form>